<%= bootstrap_form_for(@profile, multipart: true, layout: :horizontal) do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_field :name, id: "company_name" %>
  <%= f.select :category_ids,
  Category.all.map { |c| [c.name, c.id] },
               { include_blank: true },
               { class: 'chosen-select', :multiple => true }
  %>
 
    <%= f.file_field :logo %>
    <%= f.text_field :url %>

    <%= f.text_field :phone, icon: "phone" %>
    <%= f.text_field :address, id: "address", icon: "map" %>
    <%= f.hidden_field :lat, id: "lat" %>
    <%= f.hidden_field :lng, id: "lng" %>
    <%= f.hidden_field :country, id: "country" %>
    <%= f.hidden_field :city, id: "city" %>
    <%= f.hidden_field :city_id %>
    <%= f.hidden_field :region, id: "region" %>
    <%= f.text_area :short_description %>
    <div class="form-group">
      <label class="control-label col-sm-2" for="profile_short_description">Описание</label><div class="col-sm-10">
    <%= f.bootsy_area :full_description, rows: "10", class: "form-control", editor_options: { link: false, color: false, image: false } %>

    
  </div>
  </div>
    <%= f.text_area :requisites, id: "requisites", rows: "10" %>
    <%= f.number_field :workers %>

    <%= f.select :found_year,(Time.zone.now.year - 100)..(Time.zone.now.year) %>


 <%= f.form_group do %>
    <%= f.submit %>
<% end %>
<% end %>
<link href="https://dadata.ru/static/css/lib/suggestions-15.2.css" type="text/css" rel="stylesheet" />
<!--[if lt IE 10]>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://dadata.ru/static/js/lib/jquery.suggestions-15.2.min.js"></script>
<script type="text/javascript">
    jQuery (function($) {
      $(".chosen-select").chosen({max_selected_options: 3});
    $("#company_name").suggestions({
        serviceUrl: "https://dadata.ru/api/v2",
        token: "442a6197b35b9cf56087a3d9f872faad7774db14",
        type: "PARTY",
        count: 5,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: showSelected
    });
    function join(arr /*, separator */) {
      var separator = arguments.length > 1 ? arguments[1] : ", ";
      return arr.filter(function(n){return n}).join(separator);
    }
    function showSelected(suggestion) {
      var company = suggestion.data;
      console.log(suggestion);
      if(company.address != null){
        var address = company.address.data;
        var management = company.management;
        console.log(company);
        console.log(address.city);
        console.log(address.region_with_type);
       $("#address").val(join(["Россия ",address.region_with_type,address.city,address.area_with_type,address.settlement_with_type]));
       $("#city").val(address.city);
       $("#country").val("Россия");
       $("#region").val(address.region);
       
       $("#requisites").val("ИНН/ОКПО:" + join([company.inn, company.kpp], " / ") + 
        "\n" + 
        company.address.value +
        "\n" + 
        join([management.post, management.name], " ")

        )
    }
    else{
      var address = ""
    }
    

  }

});
</script>