<% @profiles.each do |profile| %>
<div class="list-group">
  <%= link_to profile_show_path(profile), class: "list-group-item " do %>
  <span class="list-group-item-heading col-md-5"><%= profile.name %></span>
  <span class="list-group-item-text col-md-2"><%= profile.city_id %></span>
  <span class="list-group-item-text">
    <%= profile.short_description %>
  </span>
<% end %>
</div>
<% end %>
