<%= bootstrap_form_tag url: "/profiles", method: :get do |f| %>
<%= select :profile, "category_ids",
  Category.all.map { |c| [c.name, c.id] },
               { include_blank: true },
               { class: 'chosen-select', :multiple => true }
  %>
    <%= f.submit %>

<% end %>
<script type="text/javascript">
    jQuery (function($) {
        $(".chosen-select").chosen({max_selected_options: 3});
      });
</script>
<%= render 'profile_list' %>
<%= paginate @profiles %>

   
   