<%= bootstrap_form_for(@profiles) do |f| %>
<%= select :category_ids,
  Category.all.map { |c| [c.name, c.id] },
               { include_blank: true },
               { class: 'chosen-select', :multiple => true }
  %>
   <%= f.form_group do %>
    <%= f.submit %>
<% end %>
<% end %>
<%= render 'profile_list' %>
<%= paginate @profiles %>

   
   