<p id="notice"><%= notice %></p>
<div class="panel panel-default">

  <div class="panel-body">
  <h3><%= @profile.name %></h3>

  <% if current_user.id == @profile.user_id %>
  <p><%= link_to 'Edit', edit_profile_path(@profile) %></p>
  <% end %>
  <div class="pull-right">

   
    <ul class="list-group clearfix">
      <li class="list-group-item"><%= image_tag @profile.logo.url(:thumb) , class: "img-rounded" %>  </li>
      <li class="list-group-item"><span class="glyphicon glyphicon-phone"></span><%= @profile.phone %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span><%= @profile.address %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-phone"></span><%= link_to @profile.url, @profile.url, target: "_blank" %></li>
    </ul>
  </div>


  <%= @profile.full_description %>

  <%= @profile.workers %>
  <%= @profile.found_date %>
 
   


</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Реквезиты</div>
  <div class="panel-body">
   <%= @profile.requisites %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Категории </div>
  <div class="panel-body">
   <%
   cat = Category.find(@profile.category_ids)
   cat.each do |c|
   %>
     <%= link_to c.name, profiles_list_path(c), class: "btn btn-primary btn-xs" %>
    <% end %>
  </div>
</div>

 |
<%= link_to 'Back', profiles_path %>
