<%= form_for([:admin, @profile], html: { class: 'form-horizontal profile' }) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :email, :include_blank => true %>
  </div>
  <div>
    <% for category in Category.all %>
    <div>
      <%= check_box_tag "profile[category_ids][]", category.id, @profile.categories.include?(category) %>
      <%= category.name %>
    </div>
    <% end %>
  </div>
<div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br>
    <%= f.number_field :place_id %>
  </div>
  <div class="field">
    <%= f.label :orgtype %><br>
    <%= f.number_field :orgtype %>
  </div>
  <div class="field">
    <%= f.label :full_description %><br>
    <%= f.text_area :full_description %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_area :short_description %>
  </div>
  <div class="field">
    <%= f.label :workers %><br>
    <%= f.number_field :workers %>
  </div>
  <div class="field">
    <%= f.label :found_date %><br>
    <%= f.date_select :found_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

