<div class="page-header">
  <h1>Editing profile</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @profile], class: 'btn btn-default' %>
<%= link_to 'Back', admin_profiles_path, class: 'btn btn-default' %>
