<div class="page-header">
  <h1>Listing profiles</h1>
</div>
<p><%= link_to "Back to Admin", admin_root_path %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
      <td><%= profile.status %>
      <%= link_to 'Activate', admin_profiles_activate_path(profile), :method => :put, class: 'link-activate', :remote=>true %></td>
      <td><%= profile.name %></td>
        <td><%= link_to 'Show', [:admin, profile], class: 'btn btn-default btn-xs' %>
        <td><%= link_to 'Edit', edit_admin_profile_path(profile), class: 'btn btn-default btn-xs' %>
        <%= link_to 'Destroy', [:admin, profile], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_admin_profile_path, class: 'btn btn-primary' %>
<script type="text/javascript">
$(document).on('ajax:success', '.link-activate', function() {
    // .parent() is the div containing this "X" delete link
    $(this).parent().parent().slideUp();
    }
);
</script>