<div class="col-md-4">
<ul class="list-group">
    <% @categories.each do |category| %>
 	
      <li class="list-group-item .col-md-4">
      <span class="badge"><%= category.profiles.count %></span>
      <%= link_to category.name, profiles_list_path(category) %>
      </li>
        <% if category.children == 0 %>
	    	<% category.children.each do |subcategory| %>
	    	<li class="list-group-item"><sup><%= link_to subcategory.name, profiles_list_path(subcategory) %></sup></li>
	    	<% end %>

    	<% end %>
    <% end %>
    </ul>
</div>