<% title("Home Page") %>
<div class="row">
<div class="col-md-12">
<%= link_to '+ Добавить свою компанию', new_profile_path, class: "btn btn-danger" %>
<p>
<%= render 'profiles/profile_list' %>
</div>


 
</div>

<hr/>
<br>
