<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<hr/>

<ul class="fa-ul">
    <% @categories.each do |category| %>
 <li class="margin-md-down">
    <i class="fa fa-arrow-circle-o-right small"></i>&nbsp;&nbsp;
    
        <%= link_to category.name, edit_admin_category_path(category) %>
        <%= link_to 'Destroy', [:admin, category], method: :delete, data: { confirm: 'Are you sure?' } %>
        <% if category.children %>
   		 <ul class="fa-ul">
   		 <li class="margin-md-down">
	    	<% category.children.each do |subcategory| %>
	    	<i class="fa fa-arrow-circle-o-right small"></i>&nbsp;&nbsp;
	    	<%= link_to subcategory.name, edit_admin_category_path(subcategory) %>
	    	<%= link_to subcategory.name, edit_admin_category_path(subcategory) %>
	        <%= link_to 'Destroy', [:admin, subcategory], method: :delete, data: { confirm: 'Are you sure?' } %>
	    	<% end %>
	    </ul>
    	<% end %>

  </li>
        
    <% end %>
</ul>

<hr/>
<br>

<%= link_to 'New Category', new_admin_category_path %>
