<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<hr/>


<div class="row">
    <% @categories.each do |category| %>
 	<div class="col-xs-3">   
        <%= link_to category.name, category %>
      <br class="margin-md-down">
        <% if category.children %>
   		 
	    	<% category.children.each do |subcategory| %>
	    	<sup><%= link_to subcategory.name, category_path(subcategory) %></sup>
	    	
	    	<% end %>

    	<% end %>

         </div>
    <% end %>
 
</div>

<hr/>
<br>

<%= link_to 'New Category', new_admin_category_path %>
