<ul class="nav navbar-nav">
<li><%= nav_link "Новости", posts_path %></li>
<li><%= nav_link "Обратная связь", contact_path %></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<% if !user_signed_in? %>
<li><%= nav_link "Войти", new_user_session_path %></li>
<li><%= nav_link "Регистрация", new_user_registration_path %></li>
<% else %>
<li><%= nav_link "Защищенная", inside_path %></li>
<li><%= nav_link "Настройки", edit_user_registration_path %></li>

<% if current_user.admin? %>
<li><%= link_to "Администрация", admin_root_path %></li>
<% end %>

<li><%= link_to "Выйти", destroy_user_session_path, data:{method: :delete} %></li>
<% end %>
</ul>