<nav class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png", border: 0, style: "max-height:52px"), root_path, class: 'navbar-brand' %>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <%= render 'layouts/navigation_links' %>
    </nav>
  </div>
</nav>