<ul class="nav nav-pills nav-stacked"  style="max-width:150px;">
  <li role="presentation"><%= nav_link 'Главная', root_path %></li>
  <li role="presentation"><a href="#">Сообщения</a></li>
  <%= user_profile %>
</ul>

	

