<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || ENV['PROJECT_NAME'] %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "typeaheadjs" %>
 
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=ru-RU"></script>
  <script type="text/javascript" src="https://rawgithub.com/sgruhier/typeahead-addresspicker/master/dist/typeahead-addresspicker.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="wrap">

    <header>
      <%= render 'layouts/navigation' %>
    </header>

 
    <div class="container">
   
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>
   <!--left-->
      <div class="col-md-3" id="leftCol">
       <% if user_signed_in? %>
        <%= render 'layouts/profile_menu' %>
      <% end %>
      </div><!--/left-->
      
      <!--right-->
      
        <div class="col-md-9">
          <%= yield %>
        </div>

    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
